<beans>
    <bean id="person"  class="bean.Person" >
<!--&lt;!&ndash;        <property name="name" value="zhangsan"></property>&ndash;&gt;-->
<!--        <property name="device" ref="device"></property>-->
    </bean>

    <bean id="device" class="bean.Device" scope="singleton">
        <property name="person" ref="person"></property>
    </bean>
<!--    <bean id="listener"  class="StartWebServerListener"></bean>-->
<!--    <bean id="beanPS"  class="LogBeanPostProcessor"></bean>-->
<!--    <bean id="sta"  class="StarterBeanDefinitionPostProcessor"></bean>-->
</beans>